/* Styling for buttons to fit the Led Zeppelin theme */

@font-face {
    font-family: 'ZEPPELIN';
    src: url('https://dylanmajewski.github.io/LedZeppelinTheme/fonts/ZEPPELIN.ttf') format('truetype'); /* Safari, Android, iOS */
    /* src: url('https://dylanmajewski.github.io/LedZeppelinTheme/fonts/ZEPPELIN.woff2') format('woff2'), Modern Browsers */
}

@font-face {
    font-family: 'carouselambra';
    src: url('https://dylanmajewski.github.io/LedZeppelinTheme/fonts/carouselambra-regular.otf') format('opentype'); /* Safari, Android, iOS */
}

button {
    background-color: #202020; /* Dark grey, almost black for buttons */
    color: #C0C0C0; /* Silver text color */
    border: 1px solid #707070; /* Slightly lighter border for definition */
    z-index: 3;
    padding: 5px 10px; /* Buffer around the text */
    font-family: 'ZEPPELIN', sans-serif;
    cursor: pointer; /* Cursor indicates clickable */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
    display: inline-block;
    font-size: 2em;
    margin: 1px; /* Adds space around each button */
    /* bottom sides 5px top 10 px */
    padding: 10px 10px 5px 10px;
}

img {
    display: block;
    max-width: 100%; /* Ensures images are responsive and do not exceed their container's width */
    height: auto; /* Maintains the aspect ratio of the images */
    margin: 20px 0; /* Adds vertical space above and below the image */
}

button:hover {
    background-color: #404040; /* Darker grey on hover for feedback */
    color: #FFFFFF; /* White text on hover for better visibility */
}

body, html {
    font-family: 'carouselambra', sans-serif;
    margin: 0; /* Remove default margin */
    /* Removed height: 100vh; to allow for flexible content height */
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    background-color: #000; /* Black background to match Led Zeppelin's iconic dark themes */
    color: #fff; /* White text for contrast */
    /* font-family: 'Rockwell', 'Courier Bold', serif; Rockwell or similar for a classic rock feel */
    justify-content: center; /* Adjusted to flex-start to accommodate nav bar */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
    
}

main {
    flex: 1; /* Allow main content to take up remaining space */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
}

/* Add specific styles for the nav bar if it's part of the HTML structure */
.nav-bar {
    
    width: 100%; /* Full width */
    position: fixed; /* Fixed at the top */
    top: 0; /* Align to top */
    z-index: 1000; /* Ensure it's above other content */
    /* Add background, padding, etc., as needed */
    margin-top: 1em;
}

.image-container {
    position: relative;
    width: 100%; /* Take up full width */
    min-height: 90vh; /* Minimum height to fill the screen vertically */
    display: flex; /* Use flexbox to center the image if needed */
    padding: 0%; /* Remove default padding */
    margin: 0; /* Remove default margin */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center images horizontally */
}

#rotatableImage, #image2 {
    object-fit: cover; /* Cover the area without losing aspect ratio */
    width: auto; /* Adjust width automatically */
    padding: 0%; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display as a block element */
    position: absolute;
    justify-content: center;
    align-items: center;
    max-width: 95vw;
    max-width: 90%;
    transform-origin: center;
}

#rotatableImage {
            max-height: 88vh; /* Ensure image does not exceed viewport height */

    transition: transform 0.1s; /* Smooth rotation */
    transform-origin: center; /* Rotate around the center */
    z-index: 1; /* Ensures rotatableImage is behind image2 */
    margin-bottom: 0; /* Reduce space at the bottom */
}

#image2 {
            max-height: 90vh; /* Ensure image does not exceed viewport height */

    z-index: 2; /* Ensures image2 covers rotatableImage */
}

.controls {

    width: 90vh;
    max-width: 90vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

a,p {
    font-family: 'ZEPPELIN', sans-serif;
    
}
a {
    font-size: 2em;
    /* make look like slighly differnt buttons */
    background-color: #404040; /* Dark grey, almost black for buttons */
    color: #C0C0C0; /* Silver text color */
    text-decoration: none;
    /* add a buffer of color around text */
    padding: 5px 10px;
    border: 1px solid #707070; /* Slightly lighter border for definition */
    display: inline-block;
    margin-top: 0.5em;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

p {
    font-size: 2em;
    margin: 0;
    margin-top: -1em;
}

.other {
    font-size: 2em;
    margin-top: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-family: 'ZEPPELIN', sans-serif;
    font-size: 2.5em;
}