{% extends "main.j2" %}
{% block title %}About{% endblock %}
{% block name %}<h2>About</h2>{% endblock %}

{% block content %}
    <a href="https://github.com/DylanMajewski">My Github</a>
    <a href="https://www.linkedin.com/in/dylan-majewski-8a00b2177/">My LinkedIn</a>

{% endblock %}