{% extends "main.j2" %}
{% block title %}Homepage{% endblock %}
{% block name %}<h2>Homepage</h2>{% endblock %}

{% block content %}
    {{ super() }}
        <p>idk what to put on my Homepage yet</p>
{% endblock %}