{% extends "main.j2" %}
{% block title %}Demos{% endblock %}
{% block name %}<h2>Demos</h2>{% endblock %}

{% block content %}
    {{ super() }}
        
        {% for demo in demos %}
            <p>
                
                <a href="/demos/{{ demo.name }}"> {{ demo.title }} </a>
            </p>
        {% endfor %}


{% endblock %}